@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
  --hover-color: #52eb34;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-hover: var(--hover-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  .glow {
    text-shadow:
      0 0 4px hsl(255, 31%, 22%),
      0 0 8px hsl(255, 31%, 42%),
      0 0 16px hsl(255, 31%, 52%);
  }
}

html {
  scroll-behavior: smooth;
}

